*{
	font-family: monospace;
}:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input, table {
	border: 1px solid CadetBlue;
	font-size: 16px;
}

.fixed-width {
	width: 400px;
}

.title {
	font-size: 80px;
	letter-spacing: -6px;

	background-image: url('favicon.png');
	background-size: 50px;
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 50px;
}

.center {
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

.right {
	text-align: right;
}

.inputs {
	width: 45vw;
	margin-left: auto;
	margin-right: auto;
}

.tbox {
	min-width: 200px;
	width: 45vw;
	margin-bottom: 20px;
}

.bt-r {
	position: fixed;
	right: 4px;
	bottom: 4px;
	text-align: right;
}

.footnote {
	font-size: 12px;
}

.big {
	font-size: 18px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

th {
	text-align: right;
	width: 100px;
}

.sides {
	width: 45vw;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

#donate {
	position: absolute;
	left: 0;
}

#submit_book {
	position: absolute;
	right: 0;
}