@font-face {
    font-family: 'GothamRounded';
    src: url('gotham-rounded-medium.otf');
}

*{
	font-family: 'GothamRounded';
}

a {
	color: #01a5ca;
	text-decoration: none;
}:hover {
	text-decoration: underline;
}[href="index.php"] {
	background-image: url('favicon.png');
	background-size: 50px;
	background-position: left;
	background-repeat: no-repeat;

	padding-left: 64px;
	padding-right: 64px;
	padding-top: 8px;

	white-space: nowrap;
}

body {
	margin: 0;
	padding-bottom: 22px;
}

code {
	font-family: monospace !important;
	font-size: 16px;
	background-color: #e0e0e0;
}

h3 {
	margin-left: 8px;
}

input, table {
	border: 1px solid #01A5CA;
	font-size: 16px;
	background-color: #FFFFFF;
}

input::focus {
	outline: 0;
}::-moz-focus-inner {
	border: 0;
}

table {
	margin-left: auto;
	margin-right: auto;
}

table:hover {
	background-color: #eff;
}

th {
	text-align: right;
	width: 0px;
}

option {
	font-size: 15px;
}

p.fix-td {
	width: 500px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fixed-width {
	width: 500px;
}

.title {
	font-size: 80px;
	letter-spacing: -8px;
	margin-top: 16px;
}

.center {
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

.right {
	text-align: right;
}

.inputs {
	width: 45vw;
	margin-left: auto;
	margin-right: auto;
	min-width: 350px;
}

.tbox {
	width: 45vw;
	margin-bottom: 20px;
	min-width: 350px;
}

.bt-r {
	position: fixed;
	right: 4px;
	bottom: 4px;
	text-align: right;
}

.bt-l {
	position: fixed;
	left: 4px;
	bottom: 4px;
}

.footnote {
	font-size: 12px;
}

.big {
	font-size: 18px;
}

.very-big {
	font-size: 48px;
}

.sides {
	width: 45vw;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	min-width: 350px;
}

.q {
	margin-bottom: 2px;
}

.no-dec {
	text-decoration: none;
	color: black;
}

.spam-bg {
	background: url("spam.jpg");
	background-size: auto 100vh;
	background-repeat: no-repeat;
	background-position: right top;
}

#donate {
	position: absolute;
	left: 0;
}

#submit_book {
	position: absolute;
	right: 0;
}