*:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input, table {
	border: 1px solid CadetBlue;
	font-size: 16px;
}

.title {
	font-size: 80px;
	margin-top: 50px;
	letter-spacing: -6px;
	font-family: serif;
}

.center {
	text-align: center;
	align-content: center;
}

.right {
	text-align: right;
}

.inputs {
	width: 33vw;
	margin-left: auto;
	margin-right: auto;
}

.tbox {
	min-width: 200px;
	width: 33vw;
	margin-bottom: 20px;
}

.bt-r {
	position: fixed;
	right: 4px;
	bottom: 4px;
	text-align: right;
}

.footnote {
	font-size: 12px;
}

.big {
	font-size: 18px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

th {
	text-align: right;
}